openapi: 3.0.0
info:
  title: eCommerce App API
  description: eCommerce App API
  version: 0.1.9

servers:
  - url: https://dimitrikokhtashvili.site/
    description: production server
  - url: http://localhost:4000
    description: local server

paths:
  /api/todos:
    post:
      summary: Create a new Todo
      description: Adds a new todo item with title and text.
      operationId: addTodo
      tags:
        - Todos
      requestBody:
        description: The todo item to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - text
              properties:
                title:
                  type: string
                  example: "New Task"
                text:
                  type: string
                  example: "Details about the new task"
      responses:
        "201":
          description: Todo created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Todo created successfully"
                  todo:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
                      title:
                        type: string
                        example: "New Task"
                      text:
                        type: string
                        example: "Details about the new task"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2024-11-13T12:34:56Z"
        "400":
          description: Missing title or text in the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Title and text are required."
