openapi: 3.0.0
info:
  title: eCommerce App API
  description: eCommerce App API
  version: 0.1.9

servers:
  - url: https://to-do-app.dimitrikokhtashvili.site/
    description: production server
  - url: http://localhost:4000
    description: local server

paths:
  /api/addToDo:
    post:
      summary: Create a new Todo
      description: Adds a new todo item with title and text.
      operationId: addTodo
      tags:
        - Todos
      requestBody:
        description: The todo item to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - text
              properties:
                title:
                  type: string
                  example: "New Task"
                text:
                  type: string
                  example: "Details about the new task"
      responses:
        "201":
          description: Todo created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Todo created successfully"
                  todo:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
                      title:
                        type: string
                        example: "New Task"
                      text:
                        type: string
                        example: "Details about the new task"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2024-11-13T12:34:56Z"
        "400":
          description: Missing title or text in the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Title and text are required."

  /api/getToDos:
    get:
      tags:
        - Todos # Ensure this matches the desired section in Swagger UI
      summary: Get all todos
      description: This endpoint allows you to get all todos from the database.
      operationId: getToDos
      responses:
        "200":
          description: Todos retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The ID of the todo
                    title:
                      type: string
                      description: The title of the todo
                    text:
                      type: string
                      description: The description of the todo
        "500":
          description: Internal server error, something went wrong while retrieving the todos

  /api/deleteToDo/{id}:
    delete:
      tags:
        - "Todos"
      summary: "Delete a to-do task by ID"
      description: "This endpoint deletes a to-do task from the database using the provided ID."
      operationId: "deleteToDo"
      parameters:
        - name: "id"
          in: "path"
          description: "ID of the to-do task to be deleted"
          required: true
          type: "integer"
      responses:
        200:
          description: "Task deleted successfully"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Task deleted successfully"
        404:
          description: "Task not found"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Task not found"
        500:
          description: "Failed to delete task"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Failed to delete task"
